# Deno
.env
.env.local
.DS_Store
.vscode/
*.orig
*.pyc
*.swp

# Deno cache/build
deno.lock
.deno/
npm/
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Project specific
.development.env
chapters.zip
*.snbt.bak
all.json
dist/

# SNBTファイル（サンプルファイルは除外）
/chapters/*.snbt
/trans-chapters/*.snbt
!sample.snbt